.note-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh; /* Set height to full viewport height */
}

.note.new {
  background-color: #67d7cc;
  border-radius: 10px;
  padding: 1rem;
  min-height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

textarea {
  font-size: 20px;
  border: none;
  resize: none;
  background-color: #67d7cc;
}

textarea:focus {
  outline: none;
}

.save {
  color: #000;
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-container h1 {
  font-size: 24px; /* Adjust font size */
  margin-bottom: 20px; /* Add margin for spacing */
  text-align: center; /* Center-align text */
  color: #333; /* Change text color */
}

/* Navbar styles */
nav {
  background-color: #333;
  padding: 20px 40px; /* Add more padding around the navbar */
  display: flex;
  justify-content: space-between; /* Align items evenly */
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
